:root {
  --main-background-color: #2c55e7;
  --card-background-color: #8ae686;
  --card-background-lighter-color: #7A7F92;
  --main-text-color:#F7F6F4;
  --title-text-color:#3CBA8B;
}

body{
  background-color:var(--main-background-color);
  font-size: 1.2em;
}
